user_uuid="96594008-539e-4f99-9b71-ff57fe034f15"
bucket_name="dizmg0nx0r0t1gfxij0gwvwy7dlpfyew"
index_html_file_path="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_file_path="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2